.about{
    /* background: url(./pexels-pixabay-38544.jpg) no-repeat scroll center / cover; */
    width: 80%;
    height: 100%;
     margin-left: 90px; 
    margin-top: 61px;
    margin-bottom: 40px;
   
    background-color:black;
   
}